<a href="https://akademie.datamics.com/kursliste/">![title](bg_datamics_top.png)</a>

<center><em>© Datamics</em></center><br><center><em>Besuche uns für mehr Informationen auf <a href='https://akademie.datamics.com/kursliste/'>www.akademie.datamics.com</a></em></center>

# Einführung in die Zeitreihenanalyse mit Pandas

Der Großteil unserer Finanzdaten hat einen DateTime-Index, also sehen wir uns an, wie man mit diesen Daten mithilfe von Pandas umgeht!

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from datetime import datetime

In [3]:
# Um die Reihenfolge der Argumente zu veranschaulichen:
my_year = 2017
my_month = 1
my_day = 2
my_hour = 13
my_minute = 30
my_second = 15

In [4]:
# 2.Januar, 2017
my_date = datetime(my_year,my_month,my_day)

In [5]:
# Defaults auf 0:00 Uhr
my_date

datetime.datetime(2017, 1, 2, 0, 0)

In [6]:
# 2.Januar, 2017 um 13:30:15 Uhr
my_date_time = datetime(my_year,my_month,my_day,my_hour,my_minute,my_second)

In [7]:
my_date_time

datetime.datetime(2017, 1, 2, 13, 30, 15)

Du kannst jeden beliebigen Teil des DateTime-Objekts abrufen.

In [8]:
my_date.day

2

In [9]:
my_date_time.hour

13

### Pandas mit DateTime Index
Normalerweise werden Zeitreihen als Index vorliegen, wenn Du mit Pandas dataframes arbeitest, die aus einer Finanz-API stammen. Zum Glück hat Pandas viele Funktionen und Methoden für die Arbeit mit Zeitreihen

In [10]:
# Erstelle ein Beispiel für eine Date-Time Liste/Array
first_two = [datetime(2016, 1, 1), datetime(2016, 1, 2)]
first_two

[datetime.datetime(2016, 1, 1, 0, 0), datetime.datetime(2016, 1, 2, 0, 0)]

In [11]:
# In Index umgewandelt
dt_ind = pd.DatetimeIndex(first_two)
dt_ind

DatetimeIndex(['2016-01-01', '2016-01-02'], dtype='datetime64[ns]', freq=None)

In [12]:
# An zufällige Daten angefügt
data = np.random.randn(2,2)
print(data)
cols = ['A','B']

[[ 1.36750454  0.32967519]
 [-0.07500032  1.75128905]]

In [13]:
df = pd.DataFrame(data,dt_ind,cols)

In [14]:
df

                   A         B
2016-01-01  1.367505  0.329675
2016-01-02 -0.075000  1.751289

In [15]:
df.index

DatetimeIndex(['2016-01-01', '2016-01-02'], dtype='datetime64[ns]', freq=None)

In [16]:
# Neueste Date Index Position
df.index.argmax()

1

In [17]:
df.index.max()

Timestamp('2016-01-02 00:00:00')

In [18]:
# Erste Date Index Position
df.index.argmin()

0

In [19]:
df.index.min()

Timestamp('2016-01-01 00:00:00')

## Super, machen wir weiter!