<a href="https://akademie.datamics.com/kursliste/">![title](bg_datamics_top.png)</a>

<center><em>© Datamics</em></center><br><center><em>Besuche uns für mehr Informationen auf <a href='https://akademie.datamics.com/kursliste/'>www.akademie.datamics.com</a></em></center>

# Pandas Datenleser

** BEACHTE: Nicht in allen Ländern funktionert Pandas Datenleser (Datareader) gut; es könnte auch sein, dass er von deiner Firewall geblockt wird! **

Funktionen aus pandas_datareader.data und pandas_datareader.wb extrahieren Daten aus verschiedenen Internetquellen in ein pandas DataFrame. Zur Zeit werden die folgenden Quellen unterstützt:

* Enigma
* St.Louis FED (FRED)
* Kenneth French’s data library
* World Bank
* OECD
* Eurostat
* Thrift Savings Plan
* Oanda currency historical rate
* Nasdaq Trader symbol definitions (remote_data.nasdaq_symbols)

Du solltest immer daran denken, dass verschiedene Quellen unterschiedliche Datenformate unterstützen. Daher implementieren nicht alle Quellen die gleichen Methoden und die Rückgabewertekönnen auch anders aussehen.

In [8]:
import pandas_datareader.data as web

import datetime

start = datetime.datetime(2015, 1, 1)

end = datetime.datetime(2017, 1, 1)

facebook = web.DataReader("FB", 'stooq', start, end)

In [9]:
facebook.head()

              Open    High      Low   Close    Volume
Date
2019-10-23  182.01  186.38  182.000  186.15  12370819
2019-10-22  190.00  190.65  181.500  182.34  19854192
2019-10-21  187.04  189.91  186.750  189.76   8580744
2019-10-18  190.23  191.49  183.924  185.85  16882862
2019-10-17  190.30  190.84  188.765  190.39   9761548

### Experimentelle Optionen

Mithilfe der Klasse Options können wir Optionsdaten von Google Finance runterladen.

Die Methode get_options_data lädt Optionsdaten für bestimmte Verfallsdaten runter und liefert ein formatiertes DataFrame mit hierarchischem Index. So ist es ganz einfach, die Option zu bekommen, die Du willst.

Auf verfügbare Verfallsdaten kann von den Eigenschaften von expiry_dates aus zugegriffen werden.

In [11]:
from pandas_datareader.data import Options

fb_options = Options('FB', 'yahoo')

ImmediateDeprecationError:
Yahoo Options has been immediately deprecated due to large breaks in the API without the
introduction of a stable replacement. Pull Requests to re-enable these data
connectors are welcome.

See https://github.com/pydata/pandas-datareader/issues

In [ ]:
data = fb_options.get_options_data(expiry=fb_options.expiry_dates[0])

In [ ]:
data.head()

# FRED

In [12]:
import pandas_datareader.data as web

import datetime

start = datetime.datetime(2010, 1, 1)

end = datetime.datetime(2017, 1, 1)

gdp = web.DataReader("GDP", "fred", start, end)

In [13]:
gdp.head()

                  GDP
DATE
2010-01-01  14721.350
2010-04-01  14926.098
2010-07-01  15079.917
2010-10-01  15240.843
2011-01-01  15285.828